.main-container {
	display: flex;
	min-height: 100vh;
	justify-content: space-around;
}

.songs {
	background-color: #17273d;
	border-right: 0.2rem solid #a8bbbf;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	width: 100%;
}

.song {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: 0.4rem solid #122238;
}

.song-image {
	width: 20%;
	height: auto;
}

.player {
	background-color: #17263d;
	border-left: 0.2rem solid #a8bbbf;
	color: whitesmoke;
	width: 100%;
}